In [1]:
#importing all liabraries
import pandas as pd
import numpy as np
import datetime
from datetime import date
import matplotlib.pyplot as plt
from glob import glob
from dateutil.relativedelta import relativedelta

In [44]:
import pandas as pd
import glob
import os

path = r'C:\Users\Admin\Downloads\Banknifty_data' # use your path
# all_files = glob.glob(os.path.join(path, "*.csv"))

# df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True,sort = True)

In [2]:
data = pd.read_csv(r'C:\Users\Admin\Downloads\Banknifty_data\BANKNIFTY_01-06-2023.csv', sep=',')

In [3]:
data

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
0,BANKNIFTY,01-06-2023,15:29:00,BANKNIFTY28SEP23C51000,OPTIDX,28-SEP-2023,CE,51000.0,302.00,302.00,302.00,302.00,0.0,0,0,0,0,1685613540,Ok
1,BANKNIFTY,01-06-2023,15:28:00,BANKNIFTY28SEP23C51000,OPTIDX,28-SEP-2023,CE,51000.0,302.00,302.00,302.00,302.00,0.0,0,0,0,0,1685613480,Ok
2,BANKNIFTY,01-06-2023,15:27:00,BANKNIFTY28SEP23C51000,OPTIDX,28-SEP-2023,CE,51000.0,302.00,302.00,302.00,302.00,0.0,0,0,0,0,1685613420,Ok
3,BANKNIFTY,01-06-2023,15:26:00,BANKNIFTY28SEP23C51000,OPTIDX,28-SEP-2023,CE,51000.0,302.00,302.00,302.00,302.00,0.0,0,0,0,0,1685613360,Ok
4,BANKNIFTY,01-06-2023,15:25:00,BANKNIFTY28SEP23C51000,OPTIDX,28-SEP-2023,CE,51000.0,302.00,302.00,302.00,302.00,0.0,0,0,0,0,1685613300,Ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275760,BANKNIFTY,01-06-2023,09:19:00,NIFTY BANK,INDEX,NaN,NaN,NaN,44063.80,44094.00,44063.20,44075.15,0.0,0,0,0,0,1685591340,Ok
275761,BANKNIFTY,01-06-2023,09:18:00,NIFTY BANK,INDEX,NaN,NaN,NaN,44060.95,44069.45,44034.65,44063.75,0.0,0,0,0,0,1685591280,Ok
275762,BANKNIFTY,01-06-2023,09:17:00,NIFTY BANK,INDEX,NaN,NaN,NaN,44102.15,44114.30,44045.25,44062.60,0.0,0,0,0,0,1685591220,Ok
275763,BANKNIFTY,01-06-2023,09:16:00,NIFTY BANK,INDEX,NaN,NaN,NaN,44031.65,44103.05,44027.95,44103.05,0.0,0,0,0,0,1685591160,Ok
275764,BANKNIFTY,01-06-2023,09:15:00,NIFTY BANK,INDEX,NaN,NaN,NaN,44154.35,44154.35,44034.10,44034.30,0.0,0,0,0,0,1685591100,Ok

In [7]:
future_data = data[(data['instrument']=='FUTIDX') & (data['option_type']=="XX")] #filter
future_data.reset_index(drop=True,inplace=True)

In [33]:
print(-1001<=-1000)

True

In [8]:
future_data

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
0,BANKNIFTY,01-06-2023,15:29:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44110.05,44120.0,44100.00,44100.00,44109.73,480,0,99660,232980,1685613540,Ok
1,BANKNIFTY,01-06-2023,15:28:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44112.20,44120.0,44105.00,44119.95,44113.59,600,0,99180,232980,1685613480,Ok
2,BANKNIFTY,01-06-2023,15:27:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44106.05,44120.0,44106.05,44116.80,44114.63,1680,165,98580,232980,1685613420,Ok
3,BANKNIFTY,01-06-2023,15:26:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44102.95,44108.9,44100.00,44105.05,44102.39,285,0,96900,232815,1685613360,Ok
4,BANKNIFTY,01-06-2023,15:25:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44080.05,44100.0,44080.05,44100.00,44093.75,390,0,96615,232815,1685613300,Ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44192.75,44205.0,44185.00,44193.15,44196.51,8500,0,93050,2109150,1685591340,Ok
1121,BANKNIFTY,01-06-2023,09:18:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44198.10,44201.0,44180.00,44193.40,44192.24,8100,0,84550,2109150,1685591280,Ok
1122,BANKNIFTY,01-06-2023,09:17:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44218.45,44225.2,44180.35,44190.00,44211.20,20600,4950,76450,2109150,1685591220,Ok
1123,BANKNIFTY,01-06-2023,09:16:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44153.60,44219.7,44153.60,44219.70,44182.05,21800,0,55850,2104200,1685591160,Ok
1124,BANKNIFTY,01-06-2023,09:15:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44200.15,44290.0,44160.00,44160.00,44200.89,34050,2104200,34050,2104200,1685591100,Ok

In [10]:
Future_price = future_data[future_data['time']=='09:19:00']
Future_price

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
370,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44306.45,44318.10,44301.00,44310.00,44306.82,675,0,6105,232320,1685591340,Ok
745,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY31AUG23F,FUTIDX,31-AUG-2023,XX,-0.01,44458.85,44458.85,44458.85,44458.85,44458.98,15,0,915,29715,1685591340,Ok
1120,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44192.75,44205.00,44185.00,44193.15,44196.51,8500,0,93050,2109150,1685591340,Ok

In [13]:
Future_price = future_data[future_data['time']=='09:19:00'].iloc[2,11]

In [14]:
Future_price

44193.15

In [21]:
baseprice = 100
atm = round(Future_price/baseprice)*baseprice
atm

44200

In [25]:
future_data[future_data['time']=='09:19:00']

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
370,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY27JUL23F,FUTIDX,27-JUL-2023,XX,-0.01,44306.45,44318.10,44301.00,44310.00,44306.82,675,0,6105,232320,1685591340,Ok
745,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY31AUG23F,FUTIDX,31-AUG-2023,XX,-0.01,44458.85,44458.85,44458.85,44458.85,44458.98,15,0,915,29715,1685591340,Ok
1120,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY29JUN23F,FUTIDX,29-JUN-2023,XX,-0.01,44192.75,44205.00,44185.00,44193.15,44196.51,8500,0,93050,2109150,1685591340,Ok

In [26]:
Future_expiry = future_data[future_data['time']=='09:19:00'].iloc[2,5]

In [27]:
Future_expiry

'29-JUN-2023'

In [28]:
straddle Strategy sudo code
 time == 9:20 , straddle sell = Atm call + Atm put

1. future price - 9:20
2. future price = Atm srike
3. filter out atm call and atm put data from data set - ouput - ce_data and pe_data
4. 44200 - target and stoploss(percent ,point , MTM)
5. EOD Exit time == 3:25

SyntaxError: invalid syntax (2198429878.py, line 1)

In [40]:

base_price = 100
# atm = base_price*round(atm/base_price)
a = round(Future_price/base_price)
atm = (a*base_price)


ce_otm_strike1 = atm + 100
ce_otm_strike2 = atm + 200

In [36]:
ce_otm_data_strike1 = data[(data['option_type']=='CE') & (data['strike_price']==ce_otm_strike) & (data['exp_date']==Future_expiry)] 
ce_otm_data_strike1.reset_index(drop=True,inplace=True)
ce_otm_data_strike1 = ce_otm_data_strike1.sort_values(by = ['time'] , ascending = True)

In [41]:
ce_otm_data_strike2 = data[(data['option_type']=='CE') & (data['strike_price']==ce_otm_strike2) & (data['exp_date']==Future_expiry)] 
ce_otm_data_strike2.reset_index(drop=True,inplace=True)
ce_otm_data_strike2 = ce_otm_data_strike2.sort_values(by = ['time'] , ascending = True)

In [38]:
ce_otm_data_strike1

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
374,BANKNIFTY,01-06-2023,09:15:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,543.10,543.10,485.50,492.65,513.51,850,0,850,0,1685591100,Ok
373,BANKNIFTY,01-06-2023,09:16:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,490.80,508.20,490.80,508.20,501.64,2275,0,3125,0,1685591160,Ok
372,BANKNIFTY,01-06-2023,09:17:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,510.30,511.70,500.55,502.70,508.06,1400,74700,4525,74700,1685591220,Ok
371,BANKNIFTY,01-06-2023,09:18:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,501.65,505.00,501.65,505.00,503.76,300,0,4825,74700,1685591280,Ok
370,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,505.95,505.95,500.15,500.15,503.69,4125,0,8950,74700,1685591340,Ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,BANKNIFTY,01-06-2023,15:25:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,392.55,396.80,392.55,396.80,393.58,1725,0,129125,81050,1685613300,Ok
3,BANKNIFTY,01-06-2023,15:26:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,395.55,397.85,395.55,396.70,397.00,1850,0,130975,81050,1685613360,Ok
2,BANKNIFTY,01-06-2023,15:27:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,396.85,400.00,396.80,398.70,397.79,3725,700,134700,81750,1685613420,Ok
1,BANKNIFTY,01-06-2023,15:28:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,400.00,404.30,400.00,402.40,402.86,1025,0,135725,81750,1685613480,Ok
0,BANKNIFTY,01-06-2023,15:29:00,BANKNIFTY29JUN23C44400,OPTIDX,29-JUN-2023,CE,44400.0,405.15,405.70,401.75,402.25,403.47,1250,0,136975,81750,1685613540,Ok

In [42]:
ce_otm_data_strike2

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
374,BANKNIFTY,01-06-2023,09:15:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,495.60,495.60,446.00,449.60,458.01,6625,462975,6625,462975,1685591100,Ok
373,BANKNIFTY,01-06-2023,09:16:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,447.40,462.85,446.30,462.00,457.13,7950,0,14575,462975,1685591160,Ok
372,BANKNIFTY,01-06-2023,09:17:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,466.00,468.65,454.25,454.45,460.47,4050,3250,18625,466225,1685591220,Ok
371,BANKNIFTY,01-06-2023,09:18:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,459.15,460.50,452.75,456.15,458.23,3500,0,22125,466225,1685591280,Ok
370,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,458.35,462.70,454.05,456.90,457.57,3375,0,25500,466225,1685591340,Ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,BANKNIFTY,01-06-2023,15:25:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,355.00,358.60,354.35,358.55,357.09,8950,0,796325,481875,1685613300,Ok
3,BANKNIFTY,01-06-2023,15:26:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,358.50,359.95,357.40,358.95,358.17,5950,0,802275,481875,1685613360,Ok
2,BANKNIFTY,01-06-2023,15:27:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,358.70,363.50,358.70,361.95,361.44,4325,-4875,806600,477000,1685613420,Ok
1,BANKNIFTY,01-06-2023,15:28:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,362.00,367.35,361.95,367.35,364.52,7325,0,813925,477000,1685613480,Ok
0,BANKNIFTY,01-06-2023,15:29:00,BANKNIFTY29JUN23C44500,OPTIDX,29-JUN-2023,CE,44500.0,367.30,369.90,363.50,369.90,367.38,8475,0,822400,477000,1685613540,Ok

In [13]:
ce_data = data[(data['option_type']=='CE') & (data['strike_price']==atm) & (data['exp_date']==Future_expiry)] 
ce_data.reset_index(drop=True,inplace=True)

In [38]:
ce_data

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
0,BANKNIFTY,01-06-2023,15:29:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,809.65,809.65,809.65,809.65,0.00,0,0,2625,1725,1685613540,Ok
1,BANKNIFTY,01-06-2023,15:28:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,809.65,809.65,809.65,809.65,0.00,0,0,2625,1725,1685613480,Ok
2,BANKNIFTY,01-06-2023,15:27:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,809.65,809.65,809.65,809.65,809.66,15,0,2625,1725,1685613420,Ok
3,BANKNIFTY,01-06-2023,15:26:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,789.85,789.85,789.85,789.85,791.27,15,0,2610,1725,1685613360,Ok
4,BANKNIFTY,01-06-2023,15:25:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,789.85,789.85,789.85,789.85,0.00,0,0,2595,1725,1685613300,Ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,884.05,898.00,884.05,891.15,894.80,135,0,570,1035,1685591340,Ok
371,BANKNIFTY,01-06-2023,09:18:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,894.25,894.25,894.25,894.25,0.00,0,0,435,1035,1685591280,Ok
372,BANKNIFTY,01-06-2023,09:17:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,901.65,901.65,890.75,894.25,897.27,210,105,435,1035,1685591220,Ok
373,BANKNIFTY,01-06-2023,09:16:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,894.90,905.95,893.95,893.95,898.63,165,0,225,930,1685591160,Ok
374,BANKNIFTY,01-06-2023,09:15:00,BANKNIFTY27JUL23C44300,OPTIDX,27-JUL-2023,CE,44300.0,942.75,942.75,902.00,902.00,902.00,60,930,60,930,1685591100,Ok

In [39]:
pe_data = data[(data['option_type']=='PE') & (data['strike_price']==atm) & (data['exp_date']==Future_expiry)] 
pe_data.reset_index(drop=True,inplace=True)

In [ ]:
pe_data = pe_data.sort_values(by =['time'],ascending = True)

In [40]:
pe_data

,symbol,date,time,trading_symbol,instrument,exp_date,option_type,strike_price,open,high,low,close,intvwap,intv,intoi,v,oi,ssboe,stat
0,BANKNIFTY,01-06-2023,15:29:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,990.20,990.20,990.20,990.20,0.00,0,0,2115,1590,1685613540,Ok
1,BANKNIFTY,01-06-2023,15:28:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,990.20,990.20,990.20,990.20,0.00,0,0,2115,1590,1685613480,Ok
2,BANKNIFTY,01-06-2023,15:27:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,990.20,990.20,990.20,990.20,0.00,0,0,2115,1590,1685613420,Ok
3,BANKNIFTY,01-06-2023,15:26:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,990.20,990.20,990.20,990.20,0.00,0,0,2115,1590,1685613360,Ok
4,BANKNIFTY,01-06-2023,15:25:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,990.20,990.20,990.20,990.20,989.54,15,-45,2115,1590,1685613300,Ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,BANKNIFTY,01-06-2023,09:19:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,880.65,880.65,880.65,880.65,0.00,0,0,720,1125,1685591340,Ok
371,BANKNIFTY,01-06-2023,09:18:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,880.65,880.65,880.65,880.65,0.00,0,0,720,1125,1685591280,Ok
372,BANKNIFTY,01-06-2023,09:17:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,878.55,880.65,878.55,880.65,880.13,120,1125,720,1125,1685591220,Ok
373,BANKNIFTY,01-06-2023,09:16:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,900.35,900.35,881.35,881.35,897.92,375,0,600,0,1685591160,Ok
374,BANKNIFTY,01-06-2023,09:15:00,BANKNIFTY27JUL23P44300,OPTIDX,27-JUL-2023,PE,44300.0,926.00,926.00,901.55,901.60,926.00,225,0,225,0,1685591100,Ok

In [9]:
import pandas as pd
import glob
import os

path = r'C:\Users\Admin\Downloads\Banknifty_data' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))
# print(all_files)
for filename in all_files :
        data = pd.read_csv(filename, index_col=None, header=0)
        future_data = data[(data['instrument']=='FUTIDX') & (data['option_type']=="XX")] 
        future_data.reset_index(drop=True,inplace=True)
        Future_price = future_data[future_data['time']=='09:19:00'].iloc[0,11]
        Future_expiry = future_data[future_data['time']=='09:19:00'].iloc[0,5]
        base_price = 100

        a = round(Future_price/base_price)
        atm = (a*base_price)
        atm
        
        ce_data = data[(data['option_type']=='CE') & (data['strike_price']==atm) & (data['exp_date']==Future_expiry)] 
        ce_data.reset_index(drop=True,inplace=True)
        ce_data = ce_data.sort_values(by = ['time'] , ascending = True)
        pe_data = data[(data['option_type']=='PE') & (data['strike_price']==atm) & (data['exp_date']==Future_expiry)] 
        pe_data.reset_index(drop=True,inplace=True)  
        pe_data = pe_data.sort_values(by =['time'],ascending = True)
        for i in range(len(ce_data)):
            if ce_data['time'][i]=='09:19:00' :
                print(ce_data['date'][i], ce_data['close'][i]+pe_data['close'][i])

01-06-2023 1771.8
02-06-2023 1756.95
05-06-2023 1678.7
06-06-2023 1662.0
07-06-2023 1613.15
08-06-2023 1594.8000000000002
09-06-2023 1597.2
12-06-2023 1565.85
13-06-2023 1528.7
14-06-2023 1483.0
15-05-2023 2203.5
15-06-2023 1481.5
16-06-2023 1371.55
17-05-2023 2110.2
19-05-2023 2035.3
19-06-2023 1404.45
20-06-2023 1421.45
21-06-2023 1386.2
22-05-2023 2039.95
22-06-2023 1347.05
24-04-2023 1342.9499999999998
24-05-2023 1965.9
25-04-2023 1310.6
25-05-2023 1916.0
26-04-2023 1290.05
26-05-2023 2010.3
27-04-2023 1273.95
29-05-2023 1850.0
30-05-2023 1824.9
31-05-2023 1791.15